<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.jss"></script>
    <script src="/js/jquery.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
    <h1 class="bg-light">Home page <%= 4 +5-3 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ducimus commodi dolorum incidunt iusto
        voluptatum nam voluptatem aliquam voluptatibus, iste cupiditate modi quis similique est corrupti! Recusandae
        ullam at laborum.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio totam nihil blanditiis fuga omnis
        consectetur fugiat, laudantium quas, sint nemo esse accusamus deserunt ipsam ratione assumenda minus sit ullam?
        A.</p>
</body>

</html>